# Ignore the secrets folder (Crucial for security)
.streamlit/

# Ignore Python's temporary cache files
__pycache__/
*.py[cod]

# Ignore your virtual environment
venv/
env/

# Ignore temporary database files
*.db-journal